footer{
    background-color: #F2F2F2;
}
.footer-content{
    padding:70px 70px 100px 70px;
    display: flex;
    justify-content: space-between;
}
.footer-l{
    width: 30%;
}
.footer-r{
    width: 60%;
    display: flex;
}
.footer-r-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-r-1 a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #202A2E;
}
.footer-logo{
    max-width: 253px;
}
.footer-link{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
}
.footer-link>div{
    width: 50%;
}
.bottom{
  width: 100%;
  background-color: #3B4043;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 58px;
}
.bottom-social-link{
  max-width: 88px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.bottom-social-link > div{
  width: 16px;
  height: 13px;
}
.copywrite{
  font-size: 9;
  color: #FFF;
  font-weight: 100;
}

@media only screen and (max-width: 1250px) {
    .footer-content{
        flex-direction: column;
        padding:70px 30px 100px 30px;
    }
    .footer-l{
        width: 100%;
        max-width: 600px;
        margin-inline:auto;
        padding-inline: 30px;
    }
    .footer-logo{
        margin-inline: auto;
    }
    .footer-logo img{
        width: 100%;
    }
    .footer-link{
        width: 100%;
        gap: 30px;
    }
    .footer-link img{
        justify-content: space-between;
        width: 90%;
    }
    .footer-r{
        margin-top: 20px;
        gap: 20px;
        width: 100%;
    }
    .footer-r-1{
        gap: 0px;
    }
    .footer-r-1 a{
        padding: 15px 0 15px 50px;
        width: 100%;
        border-block: 1px #bcbcbc solid;
    }
}
@media only screen and (max-width: 580px) {
    .footer-r{
        flex-direction: column;
        gap: 0px;
    }
    .footer-r-1 {
        width: 100%;
    }
    .footer-r-1 a{
        padding: 15px;
        text-align: center;
    }
} 
@media only screen and (max-width: 430px) {
    .footer-content{
        padding: 50px 30px 30px 30px;
    }
    .footer-l{
        padding-inline: 0;
    }
    .bottom {
        padding: 20px 58px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .bottom-social-link{
        max-width: 150px;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
    }
    .bottom-social-link > div {
        width: 30px;
        height: 30px;
    }
    .bottom-social-link > div img{
        width: 100%;
    }
}
  