@media only screen and (max-width:1000px) {
    .mission{
        font-size: 34px;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
    }
}
@media only screen and (max-width:900px) {
    .mission{
        font-size: 30px;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
    }
}
@media only screen and (max-width:850px) {
    .mission{
        font-size: 28px;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
    }
}
@media only screen and (max-width:782px) {
    .mission{
        font-size: 26px;
        font-weight: bold;
        transform: translateY(-60%);
        text-align: center;
    }
    /* .mission{
        font-size: 34px;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
    } */
}
@media only screen and (max-width:560px) {
    .mission{
        font-size: 26px;
        font-weight: bold;
        transform: translateY(-50%);
        text-align: center;
    }
    .mission_cut{
        display: block;
    }
}